/**
 * @author Ryan Balieiro
 * @description Light theme colors.
 */

@import "theme-variables-builder";

$primary: darken(#f89be7, 40%);
$secondary: #6c5f6a;
$dark: #f8cde6;
$danger: #b03c5b;
$muted: darken(#a7aab2, 15%);

$base-bg: #f7b3ec;
$base-bg-light: #fac3f0;
$base-bg-dark: #ea8fd8;

$texts: #2b1e29;
$texts-inverted: #ffffff;

$base-container-bg: #fae5f3;
$base-container-bg-accent: lighten($base-container-bg, 5%);
$base-popover-bg: lighten(#d7bcd9, 5%);
$base-boards: #faddee;
$base-info-badges: lighten(#eca8da, 4%);
$empty: #fdf3fa;

$borders: #f1e1ec;
$borders-nav-mobile: rgba(white, 0.15);
$borders-nav-mobile-accent: rgba(white, 0.2);
$scrollbar-track: #fbd5f0;
$scrollbar-thumb: #e171c6;

[data-theme="light"] {
    @include build-theme(
        // Theme Config...
        /** DARK MODE: **/                  false,

        // Base Colors...
        /** PRIMARY: **/                    $primary,
        /** SECONDARY: **/                  $secondary,
        /** DARK: **/                       $dark,
        /** DANGER: **/                     $danger,
        /** MUTED: **/                      $muted,

        // Main Layout Colors...
        /** BG: **/                         $base-bg,
        /** BG CONTRAST: **/                $base-bg-light,
        /** BG CONTRAST DARKEN:**/          $base-bg-dark,
        /** TEXTS: **/                      $texts,
        /** TEXTS (INVERTED): **/           $texts-inverted,

        // Nav
        /** NAV MOBILE BG: **/              $base-boards,
        /** NAV MOBILE: **/                 $texts,
        /** NAV MOBILE BORDER: **/          $borders-nav-mobile-accent,

        /** NAV MOBILE HOVER BG: **/        $base-boards,
        /** NAV MOBILE HOVER: **/           $primary,

        /** NAV MOBILE SELECTED BG: **/     $primary,
        /** NAV MOBILE SELECTED: **/        $texts-inverted,
        /** NAV MOBILE SELECTED BORDER: **/ $borders-nav-mobile,

        // Main Layout Elements...
        /** SECTION BG: **/                 $base-container-bg,
        /** CARD BG: **/                    $base-container-bg,
        /** POPUPS BG: **/                  $base-popover-bg,
        /** BOARDS: **/                     $base-boards,
        /** INFO BADGE BG: **/              $base-info-badges,
        /** INFO BADGE **/                  $texts,
        /** EMPTY **/                       $empty,

        // Other Colors...
        /** DEFAULT BORDERS: **/            $borders,
        /** SCROLLBAR TRACK: **/            $scrollbar-track,
        /** SCROLLBAR THUMB: **/            $scrollbar-thumb,
    );
}